.before {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: auto;
    padding: 0;
    margin-top: 15px;
  }


  li {
    width: 10px;
    height: 10px;
    background-color: #d1d1d1;

    border-radius: 50%;
    margin: 5px;

    &:hover {
      cursor: pointer;
    }

    &.slick-active {
      background-color: #5b7fda;
    }
  }

  button {
    display: none;
  }

  &-slider {

    &-wrap {
      max-width: 285px;
      margin: auto;
      margin-bottom: 40px;
      position: relative;
    }

    &-arrows {
      z-index: 0;
      position: absolute;
      display: flex;
      justify-content: space-between;
      left: -10%;
      top: 50%;
      width: 120%;
      transform: translateY(-100%);
    }

    &__dots {
      list-style: none;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      li {
        width: 10px;
        height: 10px;
        background-color: #5b7fda;
        border-radius: 50%;
        margin: 5px;
      }

      button {
        display: none;
      }
    }
  }
}

.arrow {
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }

  &-left {
    transform: translateX(-200%);
    transform: translateX(200%);
  }
}