.features {
  &-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    &__item {
      text-align: center;
      flex-basis: 33.33%;
      margin-bottom: 100px;
    }
    &__text {
      padding-top: 15px;
    }
  }
}
@media (max-width: 991px){
.features {
  &-block {
    &__item {
      flex-basis: 50%;
    }
  }
}
}
@media (max-width: 768px){
.features {
  &-block {
    &__item {
      flex-basis: 100%;
      margin-bottom: 50px;
    }
  }
}
}