body {
  @include light;
  color: $text-color;
}
.section {

    &-title {
      font-size: 30px;
      text-align: center;
      @include bold; 
      text-transform: uppercase;
    }
    &__title {
        padding: 100px 0px;
    }
}
@media (max-width:567px) {
  .section {
    &__title {
      padding: 60px 0px;
    }
  }
  .section-title {
    font-size: 24px;
  }
}

.button-o {
  text-transform: uppercase;
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  font-weight: bold;
  color: $primary;
  background-color: #ffffff;
}
.bg-secondary {
  background-color: $bg-secondary;
}
.button {
  text-transform: uppercase;
  border: 2px solid #507fe1;
  padding: 20px 40px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: $primary
}
.input {
  height: 80px;
  padding: 10px;
  border: 1px solid #dddddd;
}
input[type="checkbox"] {
  display: none;
  &:checked + label::before {
      background-color: $primary;
    }
  }
  .checkbox{
  &__label {
    display: flex;
    align-items: center;
    margin-right: 42px;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: '';
      width: 30px;
      height: 30px;
      border: 1px solid #dddddd;
      margin-right: 20px; 
    }
  }
}